<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node-name" type="xstring" value="DB Writer"/>
    <entry key="node-factory" type="xstring" value="org.knime.database.node.io.writer.DBWriterNodeFactory"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Database"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.database"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME GmbH, Konstanz, Germany"/>
    <entry key="node-bundle-version" type="xstring" value="5.1.0"/>
    <entry key="node-creationTime" type="xstring" value="2024-01-01 00:00:00"/>
    <config key="model">
        <entry key="table" type="xstring" value="staging.employees"/>
        <entry key="append" type="xboolean" value="false"/>
        <entry key="insert-null-for-missing-cols" type="xboolean" value="true"/>
        <entry key="fail-if-exception" type="xboolean" value="true"/>
        <entry key="batch-size" type="xint" value="1000"/>
    </config>
</config>
