<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="selected_columns">
            <entry key="filter-type" type="xstring" value="STANDARD"/>
            <config key="included_names">
                <entry key="array-size" type="xint" value="5"/>
                <entry key="0" type="xstring" value="CustomerID"/>
                <entry key="1" type="xstring" value="CompanyName"/>
                <entry key="2" type="xstring" value="City"/>
                <entry key="3" type="xstring" value="Region"/>
                <entry key="4" type="xstring" value="Country"/>
            </config>
            <config key="excluded_names">
                <entry key="array-size" type="xint" value="6"/>
                <entry key="0" type="xstring" value="ContactName"/>
                <entry key="1" type="xstring" value="ContactTitle"/>
                <entry key="2" type="xstring" value="Address"/>
                <entry key="3" type="xstring" value="PostalCode"/>
                <entry key="4" type="xstring" value="Phone"/>
                <entry key="5" type="xstring" value="Fax"/>
            </config>
            <entry key="enforce_option" type="xstring" value="EnforceInclusion"/>
            <config key="name_pattern">
                <entry key="pattern" type="xstring" value=""/>
                <entry key="caseSensitive" type="xboolean" value="true"/>
                <entry key="excludeMatching" type="xboolean" value="false"/>
                <entry key="type" type="xstring" value="Wildcard"/>
            </config>
            <config key="datatype">
                <config key="typelist"/>
            </config>
        </config>
    </config>
    <config key="variables"/>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="factory" type="xstring" value="org.knime.database.node.manipulation.filter.column.DBFilterColumnNodeFactory"/>
    <entry key="node-name" type="xstring" value="DB Column Filter"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME database nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.database.nodes"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="5.8.2.v202601161344"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Database"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.database.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="5.8.2.v202601161344"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="DB Column Filter"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.database.port.DBDataPortObjectSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.database.port.DBDataPortObject"/>
            <entry key="port_object_summary" type="xstring" value="PostgreSQL 01a6719d-f186-4df7-ae29-b42e4d2c61eb"/>
            <entry key="port_spec_location" type="xstring" value="spec/spec.zip"/>
            <entry key="port_object_location" type="xstring" value="object/portobject.zip"/>
            <entry key="port_dir_location" type="xstring" value="port_1"/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" value="c7ac051e-5c47-444a-9235-f95af5f35e3e"/>
    </config>
</config>
